*.yaml
*.conf
secure
production
!hiera.yaml
!production/data/common.yaml
!production/data/pwd.yaml
!production/data/fs.yaml
!production/data/hr.yaml
!production/modules/dpk_*
!production/modules/io_*
!production/modules/inifile*
!produciton/data/psft_customizations.yaml
