*
#*.yaml
#*.conf
#secure
#production
!.gitignore
!production/
production/*
!production/hiera.yaml
!production/data/
production/data/*
!production/data/common.yaml
!production/data/pwd.yaml
!production/data/fs.yaml
!production/data/hr.yaml
!produciton/data/psft_customizations.yaml
!production/manifests/*
!production/modules/
production/modules/*
!production/modules/dpk_*
!production/modules/io_*
!production/modules/inifile*